@model PollCapstone.Models.RankPoll

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_PollMakerLayout.cshtml";
}

<h1>Edit</h1>

<h4>RankPoll</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RankId" />
            <div class="form-group">
                <label asp-for="PollName" class="control-label"></label>
                <input asp-for="PollName" class="form-control" />
                <span asp-validation-for="PollName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPublic" /> @Html.DisplayNameFor(model => model.IsPublic)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfChoices" class="control-label"></label>
                <input asp-for="NumberOfChoices" class="form-control" />
                <span asp-validation-for="NumberOfChoices" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JSONChoices" class="control-label"></label>
                <input asp-for="JSONChoices" class="form-control" />
                <span asp-validation-for="JSONChoices" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PollingStatus" class="control-label"></label>
                <input asp-for="PollingStatus" class="form-control" />
                <span asp-validation-for="PollingStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PollStartDate" class="control-label"></label>
                <input asp-for="PollStartDate" class="form-control" />
                <span asp-validation-for="PollStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PollCompletionDate" class="control-label"></label>
                <input asp-for="PollCompletionDate" class="form-control" />
                <span asp-validation-for="PollCompletionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MakerId" class="control-label"></label>
                <input asp-for="MakerId" class="form-control" />
                <span asp-validation-for="MakerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

