@model PollCapstone.Models.PickOnePoll

@{
    ViewData["Title"] = "AddChoices";
    Layout = "~/Views/Shared/_PollMakerLayout.cshtml";
}

<h1>AddChoices</h1>

<h4>PickOnePoll</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddChoices">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PickOneId" />
            <div class="form-group">
                <label asp-for="PollName" class="control-label"></label>
                <input asp-for="PollName" class="form-control" />
                <span asp-validation-for="PollName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfChoices" class="control-label"></label>
                <input asp-for="NumberOfChoices" class="form-control" />
                <span asp-validation-for="NumberOfChoices" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

