@model PollCapstone.Models.PickOnePoll

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Pick One Poll</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PollName" class="control-label"></label>
                <input asp-for="PollName" class="form-control" />
                <span asp-validation-for="PollName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NumberOfChoices" class="control-label"></label>
                <input asp-for="NumberOfChoices" class="form-control" type="number" id="member" name="member" value="" />
                <span asp-validation-for="NumberOfChoices" class="text-danger"></span>
            </div>
            <a href="#" id="filldetails" onclick="addFields()">Enter Choices</a>
            <br />
            <div id="container">
            </div>
            <br />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPublic" /> @Html.DisplayNameFor(model => model.IsPublic)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" onclick="putFields"/>
            </div>
        </form>
    </div>
</div>

<div class="row">
   <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
