
@{
    ViewData["Title"] = "CreatePoll";
    Layout = "~/Views/Shared/_PollMakerLayout.cshtml";
}

<br />

<body>
    <center>
<h1>Field A Poll</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div>
                <h3><a href="@Url.Action("Create", "PickOnePolls")">Pick One Poll</a></h3>
                <p>Give poll takers multiple options and they select one.</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                <h3><a href="@Url.Action("Create", "RankPolls")">Rank Poll</a></h3>
                <p>Poll takers rank each option you provide, with the best option being 1.</p>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-sm-6">
            <div>
                <h3><a href="@Url.Action("Create", "SurveyPolls")">Survey Poll</a></h3>
                <p>Field questions to your poll takers. Answers are stored and can be searched for keywords</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                <h3><a href="@Url.Action("Create", "SatisfactionPolls")">Satisfaction Poll</a></h3>
                <p>Send this poll to customers or employees to get data on how your company is doing.</p>
            </div>
        </div>
    </div>
</div>
    </center>
</body>





